.jumbotron {
	height: 100vh;
	padding-top: 8rem;
	margin-bottom: 0;
}

#about h2 {
	padding-top: 6rem;
	padding-bottom: 3rem;
}

#selfie {
	background: url(assets/selfie.jpg) 50% 30% no-repeat; /* 50% 50% centers image in div */
	width: 30rem;
	height: 30rem;
	border-radius: 50%;
	margin: 0 auto;
}

#description {
	text-align: justify;
}

a i {
	padding-top: 1.5rem;
	font-size: 2.2rem;
	margin: 0 0.5rem;
}
