* {
	line-height: 1.75;
}

ul {
	padding-left: 1.5rem;
}

.jumbotron hr {
	background: white;
}

.jumbotron {
	height: 100vh;
	padding: 0;
	margin-bottom: 0;
}

.jumbotron .container {
	position: relative;
	padding: 0;
	/* padding-top: 35vh; */
	width: 50%;
	top: 30%;
	color: white;
}

.titleAlign {
	padding-top: 6rem;
	padding-bottom: 3rem;
}

#selfie {
	background: url(assets/images/selfie.jpg) 50% 29% no-repeat; /* 50% 50% centers image in div */
	width: 20rem;
	max-width: 100%;
	height: 20rem;
	border-radius: 20%;
	margin: 0 auto;
}

.scaleAnimation {
	transition: transform 1s;
}

.scaleAnimation:hover {
	transform: scale(1.05);
}

/* Icon for contacts */
a i {
	font-size: 2.5rem;
	padding-top: 1.5rem;
	margin: 0 3%;
}

.spaceBottom {
	padding-bottom: 8rem;
}

/* #resume .education {
	background: url(https://images.pexels.com/photos/872958/pexels-photo-872958.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
		bottom left no-repeat;
	background-size: cover;
} */

#resume {
	background-color: #e3e3e3;
}

#resume .row {
	padding-bottom: 3rem;
}

#purdue_logo {
	width: 9rem;
}

.card {
	width: 100%;
	margin: auto;
	margin-bottom: 3rem;
	border: 0.3rem rgb(227, 227, 227) solid;
	/* border: 0.13rem #c5cae9 solid; */
}

.timeline h2 {
	font-size: 1.3rem;
}

.timeline h3 {
	font-size: 1rem;
	font-style: italic;
}

.date {
	text-transform: uppercase;
}

#projects a {
	text-decoration: none;
	color: black;
}
#projects a:hover {
	color: black;
	text-decoration: none;
}
.bg-dark {
	background: transparent !important;
	/* transition: background 0s; */
}
.bg-dark.scrolled {
	background: #232741 !important ;
	/* transition: background 0s; */
}

#footer {
	background-color: #232741;
	background: url(https://images.unsplash.com/photo-1462007361476-49e695345154?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)
		center 70% no-repeat;
	background-size: cover;
	height: 7.5rem;
	padding-top: 1rem;
	color: white;
}

#footer div {
	display: inline-block;
	position: absolute;
}
#footer div p {
	margin: 0;
}
#footer .copyright {
	left: 3%;
}

#footer .contacts {
	right: 3%;
	text-align: right;
}

@media only screen and (min-width: 600px) {
	#purdue_logo {
		width: 11rem;
	}
	#selfie {
		background-position-y: 35%;
		width: 30rem;
		height: 30rem;
		border-radius: 50%;
	}
}

@media only screen and (min-width: 768px) {
	#purdue_logo {
		width: 13rem;
	}
}
@media only screen and (min-width: 992px) {
	#purdue_logo {
		width: 15rem;
	}
	a i {
		padding-top: 1.5rem;
		margin: 0 0.5rem;
	}
}

/* popup when clicked */
/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	/* -webkit-animation: fadeIn 1s; */
	/* animation: fadeIn 1s; */
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.copy_text:hover {
	color: #008080;
}
